div.image img {
  width:100%;
  max-width:600px;
}

div.image img[src="install_windows.png"] {
  max-width:900px;
}

div.image img[src="install_1.png"] {
  max-width:400px;
}

div.image img[src="install_2.png"] {
  max-width:400px;
}

div.image img[src="architecture.png"] {
  max-width:1200px;
}

div.image img[src="skeleton_scheme.jpg"] {
  max-width:1100px;
}

div.image img[src="unity_generate_files.png"] {
  max-width:400px;
}

div.image img[src="unity_permissions.png"] {
  max-width:900px;
}

div.image img[src="unity_new_project.png"] {
  max-width:900px;
}

div.image img[src="unity_myworld.png"] {
  max-width:300px;
}

div.image img[src="unity_player_position.png"] {
  max-width:300px;
}

div.image img[src="unity_save.png"] {
  max-width:400px;
}

div.image img[src="unity_android_package_name.png"] {
  max-width:500px;
}

div.image img[src="Ubasic_image1.png"] {
  max-width:700px;
}

div.image img[src="Ubasic_image2.png"] {
  max-width:400px;
}

div.image img[src="Ubasic_image3.png"] {
  max-width:500px;
}

div.image img[src="Ubasic_image5.png"] {
  max-width:500px;
}

div.image img[src="Ubasic_image9.png"] {
  max-width:400px;
}

div.image img[src="Uanim_image1.gif"] {
  max-width:500px;
}

div.image img[src="Uanim_image2.png"] {
  max-width:400px;
}

div.image img[src="Uanim_image4.gif"] {
  max-width:500px;
}

div.image img[src="Uanim_image5.jpg"] {
  max-width:800px;
}

div.image img[src="Uanim_image6.gif"] {
  max-width:500px;
}

div.image img[src="Upoints_1.png"] {
  max-width:500px;
}

div.image img[src="Upoints_2.png"] {
  max-width:500px;
}

div.image img[src="Upoints_3.png"] {
  max-width:500px;
}

div.image img[src="Upoints_6.png"] {
  max-width:300px;
}

div.image img[src="Usegment_1.png"] {
  max-width:500px;
}

div.image img[src="Usegment_3.png"] {
  max-width:500px;
}

div.image img[src="Usegment_4.png"] {
  max-width:500px;
}

div.image img[src="Usegment_6.png"] {
  max-width:1200px;
}

div.image img[src="Usegment_7.png"] {
  max-width:500px;
}

div.image img[src="Usegment_8.png"] {
  max-width:500px;
}

div.image img[src="Usegment_9.png"] {
  max-width:500px;
}

div.image img[src="Usegment_11.png"] {
  max-width:500px;
}

div.image img[src="Usegment_12.png"] {
  max-width:500px;
}

div.image img[src="Usegment_13.png"] {
  max-width:850px;
}

div.image img[src="Usegment_14.png"] {
  max-width:400px;
}

div.image img[src="Usegment_15.png"] {
  max-width:400px;
}

div.image img[src="Usegment_16.png"] {
  max-width:500px;
}

div.image img[src="Usegment_18.png"] {
  max-width:400px;
}

div.image img[src="Usegment_19.png"] {
  max-width:900px;
}

div.image img[src="Usegment_20.png"] {
  max-width:400px;
}

div.image img[src="Upoints_6.png"] {
  max-width:300px;
}

div.image img[src="Ubox_1.png"] {
  max-width:500px;
}

div.image img[src="Ubox_2.png"] {
  max-width:500px;
}

div.image img[src="Ubox_3.gif"] {
  max-width:500px;
}

div.image img[src="Ubox_4.png"] {
  max-width:500px;
}

div.image img[src="Ubox_5.gif"] {
  max-width:500px;
}

div.image img[src="Ubox_6.png"] {
  max-width:500px;
}

div.image img[src="Ubox_7.png"] {
  max-width:800px;
}

div.image img[src="Ubox_8.png"] {
  max-width:1000px;
}

div.image img[src="Ubox_9.gif"] {
  max-width:500px;
}

div.image img[src="Ugallery_1.png"] {
  max-width:450px;
}

div.image img[src="Ugallery_2.png"] {
  max-width:500px;
}

div.image img[src="Ugallery_3.png"] {
  max-width:800px;
}

div.image img[src="Ugallery_4.png"] {
  max-width:800px;
}

div.image img[src="Ugallery_6.png"] {
  max-width:450px;
}

div.image img[src="Ugallery_7.png"] {
  max-width:450px;
}

div.image img[src="Ugallery_8.png"] {
  max-width:450px;
}

div.image img[src="Ugallery_9.gif"] {
  max-width:900px;
}

div.image img[src="Ugallery_11.png"] {
  max-width:450px;
}

div.image img[src="Ugallery_12.png"] {
  max-width:450px;
}

div.image img[src="Ugallery_13.png"] {
  max-width:450px;
}

div.image img[src="TVico_1.png"] {
  max-width:900px;
}

div.image img[src="TVico_2.png"] {
  max-width:900px;
}

div.image img[src="TVico_4.png"] {
  max-width:900px;
}

div.image img[src="TVico_5.png"] {
  max-width:900px;
}

div.image img[src="TVico_6.png"] {
  max-width:900px;
}

div.image img[src="TVico_7.png"] {
  max-width:900px;
}

div.image img[src="TVico_8.png"] {
  max-width:300px;
}

div.image img[src="TVico_9.png"] {
  max-width:300px;
}

div.image img[src="TVico_11.png"] {
  max-width:400px;
}

div.image img[src="UARCore_2.png"] {
  max-width:250px;
}

div.image img[src="UARCore_3.png"] {
  max-width:450px;
}

div.image img[src="UARCore_4.png"] {
  max-width:300px;
}

div.image img[src="UARCore_5.png"] {
  max-width:450px;
}

div.image img[src="UARCore_6.png"] {
  max-width:200px;
}

div.image img[src="UARCore_7.png"] {
  max-width:450px;
}

div.image img[src="UARCore_8.png"] {
  max-width:450px;
}

div.image img[src="UARCore_10.png"] {
  max-width:450px;
}

div.image img[src="UARCore_11.png"] {
  max-width:450px;
}

div.image img[src="UARCore_12.png"] {
  max-width:450px;
}

div.image img[src="UARCore_13.png"] {
  max-width:450px;
}

div.image img[src="UARCore_14.png"] {
  max-width:450px;
}

div.image img[src="UARCore_15.png"] {
  max-width:450px;
}

div.image img[src="UARCore_16.png"] {
  max-width:450px;
}

div.image img[src="UARCore_17.png"] {
  max-width:450px;
}

div.image img[src="UARCore_18.png"] {
  max-width:450px;
}

div.image img[src="UARCore_19.png"] {
  max-width:450px;
}

div.image img[src="UARCore_20.png"] {
  max-width:450px;
}

div.image img[src="UARCore_21.png"] {
  max-width:450px;
}

div.image img[src="UARCore_22.png"] {
  max-width:450px;
}

div.image img[src="UARCore_23.png"] {
  max-width:450px;
}

div.image img[src="UARCore_24.png"] {
  max-width:450px;
}

div.image img[src="UARCore_25.png"] {
  max-width:450px;
}

div.image img[src="UARCore_26.png"] {
  max-width:450px;
}

div.image img[src="UARCore_27.png"] {
  max-width:450px;
}

div.image img[src="UARCore_28.png"] {
  max-width:450px;
}

div.image img[src="UARCore_29.png"] {
  max-width:200px;
}

div.image img[src="UARCore_30.png"] {
  max-width:250px;
}

div.image img[src="UARCore_31.png"] {
  max-width:450px;
}

div.image img[src="UARCore_33.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_2.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_3.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_4.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_5.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_6.PNG"] {
  max-width:450px;
}

div.image img[src="Uzombies_8.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_9.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_11.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_12.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_13.png"] {
  max-width:450px;
}

div.image img[src="Uzombies_14.png"] {
  max-width:450px;
}

div.image img[src="singlelbf.png"] {
  max-width:400px;
}

div.image img[src="Umc_1.png"] {
  max-width:400px;
}

div.image img[src="Umc_2.png"] {
  max-width:400px;
}

div.image img[src="Umc_3.png"] {
  max-width:400px;
}

div.image img[src="Umc_4.png"] {
  max-width:400px;
}

div.image img[src="Umc_5.png"] {
  max-width:400px;
}

div.image img[src="Umc_7.png"] {
  max-width:400px;
}

div.image img[src="Umc_8.gif"] {
  max-width:1300px;
}

div.image img[src="Umc_10.gif"] {
  max-width:1300px;
}

div.image img[src="Umc_11.png"] {
  max-width:400px;
}

div.image img[src="Umc_12.png"] {
  max-width:400px;
}

div.image img[src="Umc_13.gif"] {
  max-width:1300px;
}

div.image img[src="Umc_14.png"] {
  max-width:400px;
}

div.image img[src="Umc_16.gif"] {
  max-width:1300px;
}

div.image img[src="Uface_2.png"] {
  max-width:450px;
}

div.image img[src="Uface_3.png"] {
  max-width:400px;
}

div.image img[src="Uface_6.png"] {
  max-width:450px;
}

div.image img[src="Uface_9.png"] {
  max-width:1500px;
}

div.image img[src="Urgb_1.gif"] {
  max-width:500px;
}

div.image img[src="Urgb_2.png"] {
  max-width:400px;
}

div.image img[src="Urgb_3.png"] {
  max-width:300px;
}

div.image img[src="Urgb_4.png"] {
  max-width:400px;
}

div.image img[src="Urgb_5.png"] {
  max-width:400px;
}

div.image img[src="Urgb_6.gif"] {
  max-width:500px;
}

div.image img[src="Urgb_7.png"] {
  max-width:400px;
}

div.image img[src="Urgb_8.png"] {
  max-width:400px;
}

div.image img[src="Urgb_9.gif"] {
  max-width:500px;
}

div.image img[src="Urgb_10.png"] {
  max-width:400px;
}

div.image img[src="Urgb_11.jpg"] {
  max-width:400px;
}

div.image img[src="VicoVR_1_1.png"] {
  max-width:450px;
}

div.image img[src="VicoVR_3_1.png"] {
  max-width:300px;
}

div.image img[src="VicoVR_4_1.png"] {
  max-width:350px;
}

div.image img[src="VicoVR_5_1.png"] {
  max-width:350px;
}

div.image img[src="VicoVR_6_1.png"] {
  max-width:400px;
}

div.image img[src="VicoVR_8_1.png"] {
  max-width:400px;
}

div.image img[src="VicoVR_9.bmp"] {
  max-width:450px;
}

div.image img[src="VicoVR_10_1.png"] {
  max-width:400px;
}

div.image img[src="VicoVR_11_1.png"] {
  max-width:120px;
}

div.image img[src="VicoVR_12_1.png"] {
  max-width:400px;
}

div.image img[src="Uanimoji_1.gif"] {
  max-width:450px;
}

div.image img[src="Uanimoji_2.png"] {
  max-width:450px;
}

div.image img[src="Uanimoji_3.png"] {
  max-width:450px;
}

div.image img[src="Uanimoji_4.png"] {
  max-width:450px;
}

div.image img[src="Uanimoji_5.png"] {
  max-width:450px;
}

div.image img[src="Uanimoji_6.png"] {
  max-width:450px;
}

div.image img[src="Uanimoji_7.jpg"] {
  max-width:150px;
}

div.image img[src="Uanimoji_8.png"] {
  max-width:450px;
}

div.image img[src="Uanimoji_9.png"] {
  max-width:450px;
}

div.image img[src="Uanimoji_10.gif"] {
  max-width:450px;
}

div.image img[src="TVico_0.jpg"] {
  max-width:400px;
}
